<!doctype html>
<html lang="pt">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="..\">
    <link rel="icon" href="favicon.ico">

    <title>
      {% block title %}
        {{ pageTitle }}
        | Admin@HostelReservation
      {% endblock %}
    </title>

    {% block stylesheets %}
      <!-- Bootstrap's CSS -->
      <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>

      <!-- Font-Awesome's CSS -->
      <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome-all.css">

      <!-- Base CSS -->
      <link rel="stylesheet" href="styles/base.css">

      <!-- Cover's CSS -->
      <link rel="stylesheet" href="styles/cover.css">
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
      {{ include('@admin/navbar.twig') }}
    {% endblock %}
    {% block main %}
      <main role="main"></main>
    {% endblock %}
    {% block footer %}
      {{ include('footer.twig') }}
    {% endblock %}

    {% block scripts %}
      <!-- jQuery -->
      <script src="vendor/jquery/dist/jquery.min.js"></script>

      <!-- Bootstrap and its dependencies -->
      <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
      <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

      <!-- Velocity.js for animations -->
      <script src="vendor/velocity-animate/velocity.min.js"></script>
      <script src="vendor/velocity-animate/velocity.ui.min.js"></script>

      <!-- So we can redirect page -->
      <script src="js/utils.js"></script>

      <!-- User friendly errors -->
      <script src="js/errors.js"></script>

      <script>
        // animates the modals
        $('.modal').on('show.bs.modal', function (e) {
          $(this).find('.modal-dialog').velocity('transition.shrinkIn', {duration: 300})
        })
      </script>
    {% endblock %}
  </body>

</html>