{% extends "@admin/base.twig" %}

{% block stylesheets %}
  <!-- Bootstrap's CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- Font-Awesome's CSS -->
  <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome-all.css">

  <!-- Base CSS -->
  <link href="styles/base.css" rel="stylesheet">

  <!-- Login CSS -->
  <link href="styles/login.css" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}
{% block main %}
  <main class="text-center">
    <form class="form-signin" id="loginForm" method="POST">
      <img class="mb-4" src="images/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Administração</h1>
      <div id="errorContainer" class="alert alert-danger" style="display:none;">
        <span></span>
      </div>
      <div class="form-group">
        <label for="inputUsername" class="sr-only">Nome do administrator</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="O seu nome de utilizador" required="required">
        <label for="inputPassword" class="sr-only">Palavra-passe</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="A sua palavra-passe" required="required">
      </div>
      <input type="hidden" name="doLogin" value="1">
      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Entrar</button>
    </form>
  </main>
{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}
  <!-- jQuery -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap and its dependencies -->
  <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- SHA3 for the user's password -->
  <script src="vendor/crypto-js/crypto-js.js"></script>

  <!-- So we can redirect page -->
  <script src="js/utils.js"></script>

  <script>
    $('#loginForm').submit(function (e) {
      e.preventDefault()

      var form = e.target
      var postData = getFormVars(form)

      postData['password'] = CryptoJS.SHA3(postData['password']).toString()

      $.post(form.action, postData).done(function (data) {
        var statusData = $.parseJSON(data)
        if (statusData['status'] === 'ok') {
          redirectToPage('admin/reservations');
        } else {
          if (statusData['message'] === 'badClient') {
            showMessageTo('#errorContainer', 'Por favor insira a sua informação corretamente.')
          } else {
            showMessageTo('#errorContainer', 'Ocorreu um erro ao entrar na sua conta.')
          }
        }
      }).fail(function () {
        showMessageTo('#errorContainer', 'Ocorreu um erro ao entrar na sua conta.')
      })
    })
  </script>
{% endblock %}