{% set navbarDark = true %}
{% extends "@admin/base.twig" %}

{% block main %}
  <main role="main" class="bg-light py-5 mt-md-5">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Reservas</h1>
      <p class="lead">Todas as reservas feitas.</p>
    </div>
    <div class="album pb-5">
      <div class="container">
        <div class="row justify-content-center">
          {% for r in reservations %}
            {% set hostelAddress = r.address %}
            {% set hostelImageUrl = imgRoot ~ r.image_url %}
            {% set firstName = r.first_name %}
            {% set lastName = r.last_name %}
            {% set reserveStart = r.reservation_start %}
            {% set reserveEnd = r.reservation_end %}
            {% set createdDate = r.created_date %}
            {{ include('@admin/reservation_item.twig') }}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <!-- jQuery -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap and its dependencies -->
  <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Velocity.js for animations -->
  <script src="vendor/velocity-animate/velocity.min.js"></script>
  <script src="vendor/velocity-animate/velocity.ui.min.js"></script>

  <!-- So we can redirect page -->
  <script src="js/utils.js"></script>

  <script>
    // animates the modal
    $('.modal').on('show.bs.modal', function (e) {
      $(this).find('.modal-dialog').velocity('transition.shrinkIn', {duration: 300})
    })
    // override default submit
    $('#reserveForm').submit(function (e) {
      e.preventDefault()
      if ($('#reserveStart').val() > $('#reserveEnd').val()) {
        showModalError('#errorModal', 'A data de início da reserva não pode ser maior que a data do fim da reserva.')
        return;
      }
      var form = e.target
      var postData = getFormVars(form)
      $
        .post(form.action, postData)
        .done(function (data) {
          var statusData = $.parseJSON(data)
          if (statusData['status'] === 'ok') {
            redirectToPage('reserved');
          } else {
            showModalError('#errorModal', 'Ocorreu um erro ao reservar.')
          }
        })
        .fail(function () {
          showModalError('#errorModal', 'Ocorreu um erro ao reservar.')
        })
    })
  </script>
{% endblock %}