{% set navbarDark = true %}
{% extends "@admin/base.twig" %}

{% block main %}
  <main role="main" class="bg-light py-5 mt-5">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mt-5 mx-auto text-center">
      <h1 class="display-4">Reservas</h1>
      <p class="lead">Todas as reservas feitas.</p>
    </div>
    <div class="album pb-5">
      <div class="container">
        <div class="row justify-content-center">
          {% for r in reservations %}
            {% set hostelAddress = r.address %}
            {% set hostelImageUrl = imgRoot ~ r.image_url %}
            {% set firstName = r.first_name %}
            {% set lastName = r.last_name %}
            {% set reserveStart = r.reservation_start %}
            {% set reserveEnd = r.reservation_end %}
            {% set createdDate = r.created_date %}
            {{ include('@admin/reservation_item.twig') }}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>
    // override default submit
    $('#reserveForm').submit(function (e) {
      e.preventDefault()
      if ($('#reserveStart').val() > $('#reserveEnd').val()) {
        showModalError('#errorModal', 'A data de início da reserva não pode ser maior que a data do fim da reserva.')
        return;
      }
      var form = e.target
      var postData = getFormVars(form)
      $
        .post(form.action, postData)
        .done(function (data) {
          var statusData = $.parseJSON(data)
          if (statusData['status'] === 'ok') {
            redirectToPage('reserved');
          } else {
            showModalError('#errorModal', getErrorMessage(dastatusDatata['message']))
          }
        })
        .fail(function () {
          showModalError('#errorModal', getErrorMessage(null))
        })
    })
  </script>
{% endblock %}