{% set navbarDark = true %}
{% extends "base.twig" %}

{% block main %}
  <main role="main" class="bg-light py-5 mt-md-5">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Lista de hosteis</h1>
      <p class="lead">Escolha o seu hostel preferido!</p>
    </div>
    <div class="album pb-5">
      <div class="container">
        <div class="row justify-content-center">
          {% for h in hostels %}
            {% set hostelId = h.id %}
            {% set hostelAddress = h.address %}
            {% set hostelImageUrl = imgRoot ~ h.image_url %}
            {% set hostelPrice = h.room_price %}
            {% set hostelRooms = h.rooms_available %}
            {% set disabled = h.canReserve == 0 %}
            {{ include('@client/list_item.twig') }}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}