{% set navbarDark = true %}
{% extends "@client/base.twig" %}

{% block main %}
  <main role="main" class="bg-light py-5 mt-5">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mt-5 mx-auto text-center">
      <h1 class="display-4 mt-5">As suas reservas</h1>
      <p class="lead">A lista de todos os hosteis que tem reservados.</p>
      {% if reserveInfo | length <= 0 %}
        <p class="lead text-primary">Não tem reservas!</p>
      {% else %}
        <p class="lead text-primary">Pode cancelar a sua reserva a qualquer altura!</p>
      {% endif %}
    </div>
    {% if reserveInfo | length > 0 %}
      <div class="album pb-5">
        <div class="container">
          <div class="row justify-content-center">
            {% for r in reserveInfo %}
              {% set hostelAddress = r.address %}
              {% set hostelImageUrl = imgRoot ~ r.image_url %}
              {% set reserveId = r.id %}
              {% set reserveStart = r.reservation_start %}
              {% set reserveEnd = r.reservation_end %}
              {{ include('@client/reserved_item.twig') }}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}

{% block scripts %}
  {{ parent() }}

  <script>
    // animates the modal
    $('.modal').on('show.bs.modal', function (e) {
      $(this).find('.modal-dialog').velocity('transition.shrinkIn', {duration: 300})
    })
    // override default submit
    $('#reserveForm').submit(function (e) {
      e.preventDefault()
      if ($('#reserveStart').val() > $('#reserveEnd').val()) {
        showModalError('#errorModal', 'A data de início da reserva não pode ser maior que a data do fim da reserva.')
        return;
      }
      var form = e.target
      var postData = getFormVars(form)
      $
        .post(form.action, postData)
        .done(function (data) {
          if (data['status'] === 'ok') {
            redirectToPage('reserved');
          } else {
            showModalError('#errorModal', getErrorMessage(data['message']))
          }
        })
        .fail(function () {
          showModalError('#errorModal', getErrorMessage(null))
        })
    })
  </script>
{% endblock %}