{% extends "@client/base.twig" %}

{% block stylesheets %}
  <!-- Bootstrap's CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- Font-Awesome's CSS -->
  <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome-all.css">

  <!-- Base CSS -->
  <link href="styles/base.css" rel="stylesheet">

  <!-- Login CSS -->
  <link href="styles/login.css" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}
{% block main %}
  <main class="text-center">
    <form class="form-signin" id="signupForm" method="POST">
      <img class="mb-4" src="images/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Crie uma conta</h1>
      <div id="errorContainer" class="alert alert-danger" style="display:none">
        <span></span>
      </div>
      <div class="form-group">
        <label for="inputFirstN" class="sr-only">Primeiro nome</label>
        <input type="text" id="inputFirstN" name="firstn" class="form-control" placeholder="O seu primeiro nome" required="required" autofocus="autofocus">
        <label for="inputLastN" class="sr-only">Último nome</label>
        <input type="text" id="inputLastN" name="lastn" class="form-control" placeholder="O seu segundo nome" required="required">
      </div>
      <div class="form-group">
        <label for="inputUsername" class="sr-only">Nome de utilizador</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="O seu nome de utilizador" required="required">
        <label for="inputPassword" class="sr-only">Palavra-passe</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="A sua palavra-passe" required="required">
        <label for="inputConfPassword" class="sr-only">Confirmação da palavra-chave</label>
        <input type="password" id="inputConfPassword" class="form-control" placeholder="Insira a sua palavra-passe novamente" required="required">
      </div>
      <div class="form-group">
        <h5>Opcional</h5>
        <label for="inputAddress" class="sr-only">Morada</label>
        <input type="text" max="45" id="inputAddress" name="address" class="form-control" placeholder="A sua morada">
        <label for="inputPhone" class="sr-only">Telemóvel</label>
        <input type="text" id="inputPhone" matches="[0-9]+" name="phone" class="form-control" placeholder="O seu telemóvel">
        <label for="inputEmail" class="sr-only">Endereço de email</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="O seu endereço de email">
      </div>
      <input type="hidden" name="doSignup" value="1">
      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Criar conta</button>
      <p class="mb-0">
        <a href="login">Já tenho conta</a>
      </p>
      <p>
        <a href="cover">Voltar para pagina inicial</a>
      </p>
    </form>
  </main>
{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}
  {{ parent() }}

  <!-- SHA3 for the user's password -->
  <script src="vendor/crypto-js/crypto-js.js"></script>

  <script>
    $('#signupForm').submit(function (e) {
      e.preventDefault()
      if ($('#inputPassword').val() !== $('#inputConfPassword').val()) {
        showMessageTo('#errorContainer', 'Por favor repita a sua palavra-passe corretamente.')
        return
      }
      var form = e.target
      var postData = getFormVars(form)
      postData['password'] = CryptoJS.SHA3(postData['password']).toString()
      $
        .post(form.action, postData)
        .done(function (data) {
          var statusData = $.parseJSON(data)
          if (statusData['status'] === 'ok') {
            redirectToPage('list');
          } else {
            showMessageTo('#errorContainer', getErrorMessage(statusData['message']))
          }
        })
        .fail(function () {
          showMessageTo('#errorContainer', getErrorMessage(null))
        })
    })
  </script>
{% endblock %}