/* body */

body {
  display: block;
  justify-content: center;
  scroll-behavior: smooth;
}

/* alerts */

.alert-danger {
  background-color: transparent;
  border-color: #721c24;
}

.alert.info {
  background-color: #b8faff;
  border-radius: 0;
  padding: 1.25rem 2.25rem;
}

/* buttons */

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: transparent;
  border: .05rem solid #222;
  color: black;
  text-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus .btn-primary:active {
  background-color: rgba(34, 34, 34, 0.8);
  border: .05rem solid black;
  color: white;
}

.btn-primary.disabled {
  background-color: #333;
  border: .05rem solid black;
  text-decoration: line-through;
}

.btn-secondary {
  background-color: #333;
  border: .05rem solid #333;
  color: white;
  text-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: white;
  border: .05rem solid #333;
  color: #333;
  text-shadow: none;
}

.card-body {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card-body.reserved {
  box-shadow: 0 10px 16px 0 rgb(0, 123, 255), 0 6px 20px 0 rgb(0, 123, 255) !important;
}

.card-background {
  background-position: center;
  background-repeat: no-repeat;
  height: 14em;
  opacity: 0.9;
}

.card-img-top {
  display: block;
  height: 14em;
  width: 100%;
  opacity: 0.8;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-body {
  background-color: #444;
}

.modal-footer {
  background-color: #444;
  border-top: 0;
}

/* navbar */

.navbar {
  color: white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.navbar .navbar-link {
  padding: 1rem;
}

.navbar-dark {
  background-color: #343a40 !important;
}

.navbar-light {
  background-color: white;
  transition: all .2s ease-in-out;
  transition-property: color;
}

.navbar .navbar-link {
  border-bottom: .25rem solid transparent;
  color: rgba(255, 255, 255, .5);
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 1rem;
  padding: .25rem 0;
  transition: background-color .2s ease-in-out;
}

.navbar .navbar-link:hover,
.navbar .navbar-link:focus {
  color: white;
  transition: all .2s ease-in-out;
  transition-property: color;
}

.navbar .navbar-link.scrolled {
  color: rgba(0, 0, 0, .5);
}

.navbar .navbar-link.scrolled:hover,
.navbar .navbar-link.scrolled:focus {
  color: black;
  transition: all .2s ease-in-out;
  transition-property: color;
}

.navbar-fixed-top {
  background-color: transparent;
  transition: background-color .2s ease-in-out;
}

.navbar-fixed-top.scrolled {
  background-color: white !important;
  border-bottom: 0.1rem solid #ddd;
  transition: all .2s ease-in-out;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand a {
  color: white;
  transition: all .2s ease-in-out;
}

.navbar-brand.scrolled a {
  color: #222 !important;
  transition: all .2s ease-in-out;
}

/* footer */

.footer-links {
  display: flex;
  list-style-type: none;
}

.footer-links li {
  margin-left: 2rem;
}