<!doctype html>
<html lang="pt">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>
            {% block title %}
                {{ pageTitle }}
                | HostelReservation
            {% endblock %}
        </title>

        {% block stylesheets %}
            <!-- Bootstrap's CSS -->
            <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>

            <!-- Font-Awesome's CSS -->
            <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome-all.css">

            <!-- Base CSS -->
            <link rel="stylesheet" href="styles/base.css">

            <!-- Cover's CSS -->
            <link rel="stylesheet" href="styles/cover.css">
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            {{ include('navbar.twig') }}
        {% endblock %}
        {% block main %}
            <main role="main"></main>
        {% endblock %}
        {% block footer %}
            {{ include('footer.twig') }}
        {% endblock %}

        {% block scripts %}
            <!-- jQuery -->
            <script src="vendor/jquery/dist/jquery.min.js"></script>

            <!-- Bootstrap and its dependencies -->
            <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
            <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Changes the navbar color -->
            <script src="js/navbar.js"></script>
        {% endblock %}
    </body>

</html>