{% extends "@client/base.twig" %}

{% block stylesheets %}{% endblock %}

{% block navbar %}{% endblock %}
{% block main %}
  <main>
    <h1>404</h1>
    <p>A página que procura não existe.</p>
  </main>
{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}